<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

   <style>
      body {
         background: linear-gradient(90deg, #C7C5F4, #776BCC);
      }

      .navbar {
         /* border: 2px solid green; */
         display: flex;
         justify-content: center;
         margin: 2vh;
         padding: 2vh;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size: 6vh;
         font-weight: 600;
      }

      .navbelow {
         display: flex;
         justify-content: center;
         margin-top: -3vh;
         padding: 1vh;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size: 4vh;
         font-weight: 600;
      }

      .container {
         padding-top: 2vh;
      }

      .col-6 {
         padding-top: 2vh;
      }

      .names {
         padding: 1.5vh;
      }

      .names label {
         padding-left: 10px;
      }

      .names input {
         padding-left: 5px;
      }

      .note {
         font-weight: bolder;
      }
   </style>
   <title>RSAC</title>
</head>

<body>

   <div class="navbar">
      REMOTE SENSING APPLICATION CENTER, UTTAR PRADESH
   </div>

   <div class="navbelow">
      Request form to OPEN / EXTEND User Account in CIP Division
   </div>
   
   <ul>
      <% if(typeof errors !='undefined' ) { %>
         <% errors.forEach(error=> { %>
            <li>
               <%= error.message %>
            </li>
            <% }) %>
               <% } %>
   </ul>

   <div class="container">
      <form action="/dashboard" method="POST">
         <div class="row">
            <div class="col-6">
               <div class="names">
                  Name : <input type="text" id="fname" name="fname" />
               </div>
               <div class="names">
                  Project : <input type="text" id="project" name="project" />
               </div>
               <div class="names">
                  A/C Opening Date : <input type="text" id="accopen" name="accopen" />
               </div>
               <div class="names">
                  Username : <input type="text" id="username" name="username" />
               </div>
               <div class="names">
                  Facility Required : <input type="text" id="facility" name="facility" />
               </div>
            </div>
            <div class="col-6">
               <div class="names">
                  Designation : <input type="text" id="designation" name="designation" />
               </div>
               <div class="names">
                  Division : <input type="text" id="division" name="division" />
               </div>
               <div class="names">
                  A/C Expiry Date : <input type="text" id="accexp" name="accexp" />
               </div>
               <div class="names">
                  Disk Quota Required : <input type="number" id="diskquota" name="diskquota" />
               </div>
               <div class="names">
                  Email : <input type="email" id="email" name="email" />
               </div>
            </div>
         </div>

         <div class="container">
            <div class='note'>
               NOTE :
            </div>
            <div>
               User will be responsible for security of his/her account and data.
            </div>
            <div>
               User will be responsible for the backup of their work.
            </div>
         </div>
         <div class="container">
            <button type="submit" class="btn btn-success">SUBMIT</button>
            <span>
               <a href="/logout">
                  <button type="submit" class="btn btn-danger">LOGOUT</button>
               </a>
            </span>
         </div>
      </form>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"></script>
</body>

</html>


<!-- <div class="names">
         <div>
            Facility Required :
               <label>ERDAS ER Mapper</label>
               <input type="radio" id= "details1" name="details1" />
               
               <label>ERDAS Imagine</label>
               <input type="radio" id= "details2" name="details2" />

         </div>
         <div>
               <label>Geomatica</label>
               <input type="radio" id= "details3" name="details3" />

               <label>TNT-Mips</label>
               <input type="radio" id= "details4" name="details4" />

               <label>Ar GIS</label>
               <input type="radio" id= "details5" name="details5" />

               <label>AutoCad</label>
               <input type="radio" id= "details6" name="details6" />
         </div>
      </div> -->