<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(90deg, #C7C5F4, #776BCC);
        }
        .container_btn{
            display: flex;
            justify-content: center;
        }
        h1{
            display: flex;
            justify-content: center;
            padding: 20px;   
        }
    </style>
    <title>RSAC</title>
</head>

<body>
    <h1>Form Submitted</h1>
    <div class="container_btn">
        <a href="/logout">
            <button type="submit" class="btn btn-danger">LOGOUT</button>
        </a>
    </div>
</body>

</html>